@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: rgb(245, 244, 241);
}

h1 {
  font-size: 2rem;
  color: #2c292b;
  margin: 0px;
  padding: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}

h2.content{
  text-align: center;
}

.inputText{
  margin: 1rem;
}

img{
  width: 50%;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.grid {
  padding-left: 10%;
  padding-right: 10%;
  box-align: center;
}

.card {
  width: 345;
  max-width: 600;
  margin: 20;
  box-align: center;
  margin: 1.5rem;  
}

.card-media {

}